.vs/StudyGuide/v14/.suo
StudyGuide.Framework/bin
StudyGuide.Framework/obj
StudyGuide.Framework.Core/bin
StudyGuide.Framework.Core/obj
StudyGuide/bin
StudyGuide/obj
StudyGuide.Framework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
