
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Mnemonics</h2>
<center>
    @Html.BeginForm("")
    <input type="text" id="mneme" name="mneme" />
    <button type="submit">Lets Go!</button>
</center>

